# This notebook include 2 main section:
- Rec_Sys_Content_Based
- Rec_Sys_Collaborative_Filtering

### Importing needed library

In [39]:
import numpy as np
import pandas as pd
from math import sqrt
from scipy.stats import pearsonr

## 1- Content-Based-movies

### Load Data From CSV File
#### and Show first 5 rows of movie dataframe with **head()** function

In [40]:
movie_df = pd.read_csv('movies.csv')
rating_df = pd.read_csv('ratings.csv')

movie_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

### Prepare data for work on them with **Content-Based** method

Prepare movie_df

- Use Regex method in pandas to get specific sentence (The date that in parentheses) in specific column
- then we delete the parentheses around the date.
- all this work done in new column that its name is year
- Now we have our new column. So we delete the date from previous column.

In [41]:
movie_df['year'] = movie_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
#Removing the parentheses
movie_df['year'] = movie_df.year.str.extract('(\d\d\d\d)',expand=False)
#Removing the years from the 'title' column
movie_df['title'] = movie_df.title.str.replace('(\(\d\d\d\d\))', '')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movie_df['title'] = movie_df['title'].apply(lambda x: x.strip())
movie_df.head()

C:\Users\sinad\AppData\Local\Temp\ipykernel_10056\1107261477.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  movie_df['title'] = movie_df.title.str.replace('(\(\d\d\d\d\))', '')

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

Genres in genres column separated with |. So we covert them to arrray without | in same column.

In [42]:
#Every genre is separated by a | so we simply have to call the split function on |
movie_df['genres'] = movie_df.genres.str.split('|')
movie_df.head()

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995

- Create new dataframe that it is as same as previous dataframe. 
- Then we add new columns to new dataframe that these are the genres.
- We specified movies's genre with give 1 and 0 to each corresponding column.

In [43]:
#Copying the movie dataframe into a new one since we won't need to use the genre information in our first case.
moviesWithGenres_df = movie_df.copy()

#For every row in the dataframe, iterate through the list of genres and place a 1 into the corresponding column
for index, row in movie_df.iterrows():
    for genre in row['genres']:
        moviesWithGenres_df.at[index, genre] = 1
#Filling in the NaN values with 0 to show that a movie doesn't have that column's genre
moviesWithGenres_df = moviesWithGenres_df.fillna(0)
moviesWithGenres_df.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Show 5 rows of rating_df dataframe with **head()** function

In [44]:
rating_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

#### Prepare rating_df

Delete specific column from rating_df

In [45]:
#Drop removes a specified row or column from a dataframe
ratings_df = rating_df.drop('timestamp', 1)
ratings_df.head()

C:\Users\sinad\AppData\Local\Temp\ipykernel_10056\3661597016.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  ratings_df = rating_df.drop('timestamp', 1)

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

### Now our dataframes ready for work on them

## Content Based recommendation system

Creating an input user to recommend movies

In [46]:
userInput = [{'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}]

inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

- Create dataframe (inputId) that has same data from title column
- Then merge it with  inputMovies dataframe for input columns  that isn't exist from each other
- Delete two columns from new dataframe.

In [47]:
#Filtering out the movies by title
inputId = movie_df[movie_df['title'].isin(inputMovies['title'].tolist())]
#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovies = pd.merge(inputId, inputMovies)
#Dropping information we won't use from the input dataframe
inputMovies = inputMovies.drop('genres', 1).drop('year', 1)
#Final input dataframe
#If a movie you added in above isn't here, then it might not be in the original 
#dataframe or it might spelled differently, please check capitalisation.
inputMovies

C:\Users\sinad\AppData\Local\Temp\ipykernel_10056\3514711890.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputMovies = inputMovies.drop('genres', 1).drop('year', 1)
C:\Users\sinad\AppData\Local\Temp\ipykernel_10056\3514711890.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputMovies = inputMovies.drop('genres', 1).drop('year', 1)

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

Create dataframe that have same data in movieID column from 
moviesWithGenres_df (dataframe that created for specified movies's genre with give 1 and 0) and inputMovies (dataframe that created for info of input user)

In [48]:
#Filtering out the movies from the input
userMovies = moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(inputMovies['movieId'].tolist())]
userMovies

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
257,296,Pulp Fiction,"[Comedy, Crime, Drama, Thriller]",1994,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
973,1274,Akira,"[Action, Adventure, Animation, Sci-Fi]",1988,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1445,1968,"Breakfast Club, The","[Comedy, Drama]",1985,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

- Create new dataframe from userMovies that droped 4 columns from it 
- It has only genres

In [49]:
#Resetting the index to avoid future issues
userMovies = userMovies.reset_index(drop=True)
#Dropping unnecessary issues due to save memory and to avoid issues
userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
userGenreTable

C:\Users\sinad\AppData\Local\Temp\ipykernel_10056\2641803640.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
C:\Users\sinad\AppData\Local\Temp\ipykernel_10056\2641803640.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
C:\Users\sinad\AppData\Local\Temp\ipykernel_10056\2641803640.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
C:\Users\sinad\AppData\Local\Temp\ipykernel_10056\2641803640.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Show specific column from inputMovies

In [50]:
inputMovies['rating']

0    3.5
1    2.0
2    5.0
3    4.5
4    5.0
Name: rating, dtype: float64

Done matrix multiplication for weighting genres

In [51]:
#Dot produt to get weights
userProfile = userGenreTable.transpose().dot(inputMovies['rating'])
#The user profile
userProfile

Adventure             10.0
Animation              8.0
Children               5.5
Comedy                13.5
Fantasy                5.5
Romance                0.0
Drama                 10.0
Action                 4.5
Crime                  5.0
Thriller               5.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 4.5
War                    0.0
Musical                0.0
Documentary            0.0
IMAX                   0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

Extracting the genre table from the original dataframe

In [52]:
#Now let's get the genres of every movie in our original dataframe
genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['movieId'])
#And drop the unnecessary information
genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
genreTable.head()

C:\Users\sinad\AppData\Local\Temp\ipykernel_10056\789887408.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
C:\Users\sinad\AppData\Local\Temp\ipykernel_10056\789887408.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
C:\Users\sinad\AppData\Local\Temp\ipykernel_10056\789887408.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
C:\Users\sinad\AppData\Local\Temp\ipykernel_10056\789887408.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Normalizing data from genreTable and userProfile with multiply the genres by the weights and then take the weighted average

In [53]:
#Multiply the genres by the weights and then take the weighted average
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df.head()

movieId
1    0.594406
2    0.293706
3    0.188811
4    0.328671
5    0.188811
dtype: float64

Sorting data from more to less

In [54]:
#Sort our recommendations in descending order
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
#Just a peek at the values
recommendationTable_df.head()

movieId
134853    0.734266
148775    0.685315
117646    0.678322
6902      0.678322
81132     0.671329
dtype: float64

### The final recommendation table

In [55]:
movie_df.loc[movie_df['movieId'].isin(recommendationTable_df.head(20).keys())]

,movieId,title,genres,year
559,673,Space Jam,"[Adventure, Animation, Children, Comedy, Fanta...",1996
1390,1907,Mulan,"[Adventure, Animation, Children, Comedy, Drama...",1998
2250,2987,Who Framed Roger Rabbit?,"[Adventure, Animation, Children, Comedy, Crime...",1988
3460,4719,Osmosis Jones,"[Action, Animation, Comedy, Crime, Drama, Roma...",2001
4631,6902,Interstate 60,"[Adventure, Comedy, Drama, Fantasy, Mystery, S...",2002
5490,26340,"Twelve Tasks of Asterix, The (Les douze travau...","[Action, Adventure, Animation, Children, Comed...",1976
5819,32031,Robots,"[Adventure, Animation, Children, Comedy, Fanta...",2005
6047,40339,Chicken Little,"[Action, Adventure, Animation, Children, Comed...",2005
6448,51939,TMNT (Teenage Mutant Ninja Turtles),"[Action, Adventure, Animation, Children, Comed...",2007
6455,52287,Meet the Robinsons,"[Action, Adventure, Animation, Children, Comed...",2007
6879,62956,Futurama: Bender's Game,"[Action, Adventure, Animation, Comedy, Fantasy...",2008
7441,81132,Rubber,"[Action, Adventure, Comedy, Crime, Drama, Film...",2010
7550,85261,Mars Needs Moms,"[Action, Adventure, Animation, Children, Comed...",2011
8349,108540,Ernest & Célestine (Ernest et Célestine),"[Adventure, Animation, Children, Comedy, Drama...",2012
8357,108932,The Lego Movie,"[Action, Adventure, Animation, Children, Comed...",2014
8597,117646,Dragonheart 2: A New Beginning,"[Action, Adventure, Comedy, Drama, Fantasy, Th...",2000
8806,130520,Home,"[Adventure, Animation, Children, Comedy, Fanta...",2015
8900,134853,Inside Out,"[Adventure, Animation, Children, Comedy, Drama...",2015
9169,148775,Wizards of Waverly Place: The Movie,"[Adventure, Children, Comedy, Drama, Fantasy, ...",2009
9282,157865,Ratchet & Clank,"[Action, Adventure, Animation, Children, Comed...",2016

<hr>

<a id="ref3"></a>

## 2- Collaborative-Filtering-movies

### Load Data From CSV File
#### and Show first 5 rows of movie dataframe with **head()** function

In [56]:
#Storing the movie information into a pandas dataframe
movies_df = pd.read_csv('movies.csv')
#Storing the user information into a pandas dataframe
ratings_df = pd.read_csv('ratings.csv')
#Head is a function that gets the first N rows of a dataframe. N's default is 5.
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

### Prepare data for work on them with **Collaborative-Filtering** method

Prepare movies_df

- Use Regex method in pandas to get specific sentence (The date that in parentheses) in specific column
- then we delete the parentheses around the date.
- all this work done in new column that its name is year
- Now we have our new column. So we delete the date from previous column.

In [57]:
#Using regular expressions to find a year stored between parentheses
#We specify the parantheses so we don't conflict with movies that have years in their titles
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
#Removing the parentheses
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
#Removing the years from the 'title' column
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())

movies_df.head()

C:\Users\sinad\AppData\Local\Temp\ipykernel_10056\2392792530.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

Drop genres column from movies_df dataframe

In [58]:
#Dropping the genres column
movies_df = movies_df.drop('genres', 1)

movies_df.head()

C:\Users\sinad\AppData\Local\Temp\ipykernel_10056\272913426.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  movies_df = movies_df.drop('genres', 1)

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

Show 5 rows of rating_df dataframe with **head()** function

In [59]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

#### Prepare rating_df

Delete specific column from rating_df

In [60]:
#Drop removes a specified row or column from a dataframe
ratings_df = ratings_df.drop('timestamp', 1)

ratings_df.head()

C:\Users\sinad\AppData\Local\Temp\ipykernel_10056\3040066696.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  ratings_df = ratings_df.drop('timestamp', 1)

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

### Now our dataframes ready for work on them

## Collaborative Filtering recommendation system

Creating an input user to recommend movies

In [61]:
userInput = [{'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}]

inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

- Create dataframe (inputId) that has same data from title column
- Then merge it with  inputMovies dataframe for input columns  that isn't exist from each other
- Delete year column from new dataframe.

In [62]:
#Filtering out the movies by title
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovies = pd.merge(inputId, inputMovies)
#Dropping information we won't use from the input dataframe
inputMovies = inputMovies.drop('year', 1)
#Final input dataframe
#If a movie you added in above isn't here, then it might not be in the original 
#dataframe or it might spelled differently, please check capitalisation.
inputMovies

C:\Users\sinad\AppData\Local\Temp\ipykernel_10056\2035672847.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputMovies = inputMovies.drop('year', 1)

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

With the movie ID's in our input, can get the subset of users that have watched and reviewed the movies in our input

In [63]:
#Filtering out users that have watched movies that the input has watched and storing it
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset.head()

     userId  movieId  rating
0         1        1     4.0
16        1      296     3.0
320       4      296     1.0
422       4     1968     4.0
516       5        1     4.0

Group up the rows by user ID

In [64]:
#Groupby creates several sub dataframes where they all have the same value in the column specified as the parameter
userSubsetGroup = userSubset.groupby(['userId'])

userSubsetGroup.head()

       userId  movieId  rating
0           1        1     4.0
16          1      296     3.0
320         4      296     1.0
422         4     1968     4.0
516         5        1     4.0
...       ...      ...     ...
99510     609      296     4.0
99534     610        1     5.0
99552     610      296     5.0
99636     610     1274     5.0
99664     610     1968     4.0

[784 rows x 3 columns]

Sort these groups so the users that share the most movies in common with the input have higher priority

In [65]:
#Sorting it so users with movie most in common with the input will have priority
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

userSubsetGroup[0:3]

[(91,
         userId  movieId  rating
  14121      91        1     4.0
  14122      91        2     3.0
  14173      91      296     4.5
  14316      91     1274     5.0
  14383      91     1968     3.0),
 (177,
         userId  movieId  rating
  24900     177        1     5.0
  24901     177        2     3.5
  24930     177      296     5.0
  25069     177     1274     2.0
  25129     177     1968     3.5),
 (219,
         userId  movieId  rating
  31524     219        1     3.5
  31525     219        2     2.5
  31554     219      296     4.0
  31628     219     1274     2.5
  31680     219     1968     3.0)]

Select a subset of users to iterate through because of doing faster.

In [66]:
userSubsetGroup = userSubsetGroup[0:100]

Calculate the Pearson Correlation between input user and subset group, and store it in a dictionary, where the key is the user Id and the value is the coefficient.

In [67]:
#Store the pearson Correlation
pearson = []

#For every user group in our subset
for name, group in userSubsetGroup:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    #Get the review scores for the movies that they both have in common
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['rating'].tolist()
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['rating'].tolist()
    #Calculate pearson Correlation by using pearsonr from scipy.stats
    pearson.append(pearsonr(tempRatingList, tempGroupList))

#Store the coefficient
pearson_statistic = [np.float_(np.zeros_like(j[0])) if type(j[0]) == float else j[0] for j in pearson]

#Store the user Id
Name = [name for name, group in userSubsetGroup]

#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
pearsonCorrelationDict = {i: j for i, j in zip(Name, pearson_statistic)}

c:\Users\sinad\AppData\Local\Programs\Python\Python310\lib\site-packages\scipy\stats\_stats_py.py:4424: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(msg))

Show Pearson Correlation dict

In [68]:
pearsonCorrelationDict

{91: 0.4385290096535147,
 177: 6.938893903907228e-18,
 219: 0.4512426281971403,
 274: 0.7161148740394329,
 298: 0.959271230691857,
 414: 0.9376144618769908,
 474: 0.11720180773462385,
 477: 0.4385290096535146,
 480: 0.7844645405527362,
 483: 0.08006407690254358,
 599: 0.7666866491579839,
 608: 0.9207368843792512,
 50: 0.15713484026367724,
 57: -0.7385489458759964,
 68: 0.0,
 103: 0.5222329678670936,
 135: 0.8703882797784894,
 182: 0.9428090415820636,
 202: 0.5222329678670936,
 217: 0.30151134457776363,
 226: 0.9438798074485389,
 288: 0.6005325641789633,
 307: 0.9655810287305762,
 318: 0.44486512077567236,
 322: 0.5057805388588732,
 330: 0.9035942578600878,
 357: 0.560611910581388,
 434: 0.9864036607532465,
 448: 0.30151134457776363,
 469: 0.8164965809277261,
 561: 0.5222329678670936,
 600: 0.18442777839082944,
 606: 0.9146591207600473,
 610: -0.4714045207910318,
 18: 1.0,
 19: -0.5,
 21: 0.0,
 45: 0.5,
 63: -0.5,
 64: 0.0,
 66: 0.5,
 107: -1.0,
 122: 0.8660254037844388,
 132: 0.0,
 140: 0.5,
 141: 0.0,
 144: 1.0,
 153: 0.8660254037844386,
 156: 0.18898223650461365,
 160: 0.8660254037844387,
 166: -0.6546536707079773,
 198: 0.0,
 200: 0.7559289460184546,
 201: 0.0,
 232: 0.6546536707079772,
 240: -0.8660254037844388,
 249: 0.0,
 266: 0.5000000000000001,
 275: -0.5,
 282: -1.0,
 292: 0.0,
 294: 0.5000000000000001,
 304: 0.8660254037844387,
 305: 0.0,
 313: -0.5,
 323: 0.0,
 328: -0.5000000000000001,
 353: 0.8660254037844387,
 359: 0.8660254037844387,
 372: 0.14285714285714285,
 373: 0.8660254037844386,
 380: 0.0,
 381: 0.6546536707079772,
 387: -0.18898223650461363,
 391: 0.8660254037844388,
 411: 0.8660254037844387,
 425: 0.8660254037844388,
 432: -0.8660254037844388,
 462: 0.8029550685469663,
 470: 0.0,
 476: -0.8660254037844386,
 484: 0.7205766921228922,
 489: 0.0,
 500: 0.0,
 504: 0.0,
 514: 0.0,
 525: 1.0,
 555: 0.5,
 559: -0.5,
 560: 0.9819805060619655,
 562: 1.0,
 570: 0.8660254037844387,
 573: 0.8660254037844387,
 590: 0.960768922830523,
 603: 0.052414241836095915,
 604: 0.0,
 605: -0.7205766921228922,
 607: 0.0,
 1: -1.0,
 4: 0.0}

Create new dataframe from created dict. New dataframe contain two columns: similarityIndex and userId

In [69]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex  userId
0     4.385290e-01      91
1     6.938894e-18     177
2     4.512426e-01     219
3     7.161149e-01     274
4     9.592712e-01     298

Get the top 50 users that are most similar to the input, by sorting values of pearsonDF

In [70]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head()

    similarityIndex  userId
46         1.000000     144
34         1.000000      18
90         1.000000     562
86         1.000000     525
27         0.986404     434

For start recommending movies to the input user we must rating of selected users to all movies.
- For taking the weighted average of the ratings of the movies using the Pearson Correlation as the weight. at first we need to get the movies watched by the users in our **pearsonDF** from the ratings dataframe and then store their correlation in a new column. This is achieved below by merging of these two tables.

In [71]:
topUsersRating=topUsers.merge(ratings_df, left_on='userId', right_on='userId', how='inner')
topUsersRating.head()

   similarityIndex  userId  movieId  rating
0              1.0     144        1     3.5
1              1.0     144        2     3.0
2              1.0     144       10     3.0
3              1.0     144       17     4.0
4              1.0     144       19     3.0

Simply multiply the movie rating by its weight (The similarity index), then sum up the new ratings and divide it by the sum of the weights.

In [72]:
#Multiplies the similarity by the user's ratings
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

   similarityIndex  userId  movieId  rating  weightedRating
0              1.0     144        1     3.5             3.5
1              1.0     144        2     3.0             3.0
2              1.0     144       10     3.0             3.0
3              1.0     144       17     4.0             4.0
4              1.0     144       19     3.0             3.0

Grouping up the dataframe by movieId and then dividing two columns

In [73]:
#Applies a sum to the topUsers after grouping it up by userId
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  36.805338          135.247295
2                  29.956535           91.782364
3                   8.783859           26.381456
4                   0.866025            1.732051
5                   6.165336           17.775255

Take the weighted average

In [74]:
#Creates an empty dataframe
recommendation_df = pd.DataFrame()
#Now we take the weighted average
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df.head()

         weighted average recommendation score  movieId
movieId
1                                     3.674665        1
2                                     3.063851        2
3                                     3.003402        3
4                                     2.000000        4
5                                     2.883096        5

Sort it and see the top 10 movies that the algorithm recommended

In [75]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)

### The final recommendation table

In [76]:
movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(10)['movieId'].tolist())]

      movieId                                              title  year
869      1150  Return of Martin Guerre, The (Retour de Martin...  1982
1722     2314                                            Beloved  1998
1738     2333                                  Gods and Monsters  1998
2947     3951                                   Two Family House  2000
3173     4273                                     Under the Sand  2000
3176     4278          Triumph of the Will (Triumph des Willens)  1934
3189     4298                 Rififi (Du rififi chez les hommes)  1955
3936     5537                                        Satin Rouge  2002
4646     6945                      My Architect: A Son's Journey  2003
8536   115122                          What We Do in the Shadows  2014